*{
    justify-content: center;
   
}
h1{
    color: rgb(64, 56, 56);
    text-align: center;
    font-size: 3.9rem;
}
.calculator {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    width: calc(100% - 10px);
    margin-bottom: 10px;
    padding: 10px;
    font-size: 40px;
    background-color: #000000;
    color: aliceblue;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}

button {
    padding: 20px;
    font-size: 25px;
    border: none;
    background-color: #3d3d3d;
    color: white;
    cursor: pointer;
    border-radius: 100%;
}

.operator:hover, 
button:hover {
    background-color: #45a049;
}

.operator{
    background-color: rgb(240, 178, 64);
    
}
